* {
  box-sizing: border-box;
}

div {
  display: block;
}

.navbar {
  z-index: 9999;
  font-size: 1rem;
  line-height: 1.7;
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  transform: none;
  backdrop-filter: blur(20px);
}