.profile-container {
  position: relative;
}

.profile-background-container {
  width: 100vw;
  height: 250px;
  background-color: beige;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.profile-background {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture-container {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 99;
  background-color: antiquewhite;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.profile-picture {
  
  z-index: 99;
}

.profile-info-container {
  margin-top: 80px;
}